<section>
    <div class="top">
        <!-- time left top -->
        <div class="time">
            <p class="time_today">{{ now | date : "E, dd / MM / y"  }}</p>
            <p class="time_today time_time">{{ now |  date : 'HH:mm' }} CET</p>
            <!-- logo right top -->
        </div>
        <img src="../../assets/person/logo.svg" class="k_size" />
    </div>
</section>