// this is the distance from the top to the slider
.top {
    height: 180px;
    // time of CET on left top
    .time {
      font-family: 'Montserrat', sans-serif;
      position: right;
      margin-top: 85px;
      margin-left: 25px;
      // top of the time
    .time_today {
      color: white;
      font-weight: bold;
      font-size: 200%;
      }
      // bottom of the time
      .time_time{
        margin-left: 5px;
      }
    }
    // logo right top
    .k_size {
        float: right;
        width: 200px;
        height: 200px;
        font-size: 75px;
        color: white;
        font-weight: bold;
        margin-top: -150px;
        margin-right: 80px;
    }
}