<!-- this is for the api agenda -->
<!-- one div container within my-slider will make a slider (divs in divs won't) -->
<section>
  <div class="center">
    <div class="my-slider">
      <div class="align">
        <!-- this is for the text shown at the top -->
        <div class="info_top">
          <p class="info_marg1">Milestone</p>
          <p class="info_marg2">Project</p>
          <p class="info_marg3">Status</p>
        </div>
        <!-- mileS = milestone dates [5] -->
        <div *ngFor="let pro of mileS.slice(0,8) " class="info_toge">
          <div [ngClass]="{'info_passed': pro.datePassed }">
            <div class="mile">
              <!-- this is what shows on the left side  -->
              <p class="mile_dn"> {{ pro[5] | date: "dd MMM"  }} </p>
              <p class="mile_mile">{{ pro[3] | slice:3 }}</p>
            </div>
            <div class="proj">
              <!-- Middle part in the project -->
              <div class="icon">
                <!-- searches for the name, uses that for imagine name with jpg -->
                <img class="icon_image icon_background" [src]="'../assets/person/' + pro[2] + '.jpg'" >
              </div>
              <p class="proj_name">{{ pro[1] }}</p>
              <p class="proj_info"> {{ pro[0] }}</p>
            </div>
            <div class="stat">
              <!-- right side for the info with max of 100 charathers (slice) -->
              <p class="trans">{{ pro[6] | slice:0:100 }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- this is for the text shown at the top -->
      <div class="align">
        <div class="info_top">
          <p class="info_marg1">Deadline</p>
          <p class="info_marg2">Project</p>
          <p class="info_marg3">Status</p>
        </div>
        <!-- deadL = deadline dates [7] -->
        <div *ngFor="let pro of deadL.slice(0,8)" class="info_toge">
          <div [ngClass]="{'info_passed': pro.datePassed }">
            <div class="mile">
              <p class="mile_dn"> {{ pro[7] | date: "dd MMM" }} </p>
              <p class="mile_mile">{{ pro[3] | slice:3 }}</p>
            </div>
            <div class="proj">
              <div class="icon">
                <img class="icon_image icon_background" [src]="'../assets/person/' + pro[2] + '.jpg'">
              </div>
              <p class="proj_name">{{ pro[1] }}</p>
              <p class="proj_info"> {{ pro[0] }}</p>
            </div>
            <div class="stat">
              <p class="trans">{{ pro[6] | slice:0:100 }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- this is for the text shown at the top -->
      <div class="align">
        <div class="info_top">
          <p class="info_marg1">No time</p>
          <p class="info_marg2">Project</p>
          <p class="info_marg3">Status</p>
        </div>
        <!-- noTime = show the items with no date  -->
        <div *ngFor="let pro of noTime.slice(0,8)" class="info_toge">
          <div class="mile">
            <p class="mile_nd"> Geen datum </p>
            <p class="mile_mile">{{ pro[3] | slice:3 }}</p>
          </div>
          <div class="proj">
            <div class="icon">
              <img class="icon_image icon_background" [src]="'../assets/person/' + pro[2] + '.jpg'">
            </div>
            <p class="proj_name">{{ pro[1] }}</p>
            <p class="proj_info"> {{ pro[0] }}</p>
          </div>
          <div class="stat">
            <p class="trans">{{ pro[6] | slice:0:100 }}</p>
          </div>
        </div>
      </div>
      <!-- this adds the quote into the slider -->
      <app-quote [screenquote]="true"></app-quote>
    </div>
  </div>
</section>
<app-screen-bottom></app-screen-bottom>