// this is for the data shown of the agenda kynda
section { 
  overflow: hidden;
    div {
      overflow: hidden;
        .my-slider{
          // min-height is given to the slider so the quote will go to the bottom of the page
          min-height: 1500px;
          .align{
            vertical-align:top;
          }   
          // this is for milestone, project and status at the top
                .info_top {
                  color: white;
                  font-size: 225%;
                  font-weight: bold;
                  width: 98%;
                  // milestone
                    .info_marg1 {
                      float: left;
                      width: 32%;
                      margin-left: 3%;
                    }
                    // status
                    .info_marg3 {
                      float: right;
                      width: 33%;
                      margin-left: -3.5%;
                    }
                    // project (this is last in order to place it in the middle)
                    .info_marg2 {
                    display: inline-block;
                    width: 35%;
                    }
                }
                // increases font for data agenda
                .info_toge {
                  font-size: 175%;
                  
                  .info_passed{
                    opacity: 50%;
                  }
                  // this is for the milestone box on the left side
                .mile {
                  border-top: 0.5px solid rgba(255,255,255,.5);
                  color: white;
                  float: left;
                  width: 20%;
                  padding-left: 1%;
                  margin-top: 2%;
                  margin-bottom: 1%;
                  padding-top: 2%;
                  margin-left: 2%;
                    //  this is for IF it has a date
                    .mile_dn {
                      padding-top: 11px;
                      font-size: 123%;
                      font-weight: bold;
                    }
                    // this is for no date
                    .mile_nd {
                      padding-top: 12px;
                      font-size: 110%;
                      font-weight: bold;
                    }
                    // this is for milestone action ("afwachten, lopen" and so forth)
                    .mile_mile {
                     font-size: 123%;
                     margin-top: -2%;
                  }
                }
                // this is for the status box on the right
                .stat {
                  border-top: 0.5px solid rgba(255,255,255,.5);
                  color: white;
                  float: right;
                  width: 34%;
                  font-size: 75%;
                  margin-top: 2%;
                  margin-bottom: 1%;
                  padding-top: 3.5%;
                  margin-right: 2%;
                  //  making the text transparent for status
                  .trans {
                   opacity: 0.8;
                   margin-left: 5%;
                 }
                }
                // this is for project (this is as last to put it in the middle)
                .proj {
                  border-top: 0.5px solid rgba(255,255,255,.5);
                  color: white;
                  display: inline-block;
                  width: 40%;
                  padding-left: 1%;
                  margin-top: 2%;
                  margin-bottom: 1%;
                  padding-top: 2%;
                  margin-right: -2%;
                    } 
                    // this is for the project name
                    .proj_name {
                      font-size: 110%;
                      padding-top: 2%;
                    } 
                    //  this is for the info below it
                    .proj_info {
                      font-size: 123%;
                      font-weight: bold;
                      padding-right: -1%
                    }
                  }
                  // icon of persons placement
                   .icon {
                    float: left;
                    padding-right: 3%;
                    padding-top: 1%;
                    // this is for the imagine itself
                    .icon_image {
                      object-fit: cover;
                      border-radius: 50%;
                      width: 100px;
                      height: 100px;
                      background-position: 40% 40%;
                      background-size: cover;
                      background-image: linear-gradient(135deg,#e42e12,#132bda) ;
                    }
                  } 
              }  
        }   
    }
