// this is for the height to put it below 60px (will not show if the monitor aint 1810px height (it be better to have it 1920 for fully shown))
    .crawl_height {
        color:white;
        margin-top: 60px;
  
            // little bar above radioparadise and crawled persons
            .crawl_top {
                margin-top: -15px;
                position: fixed;
                height: 15px;
                background-color: #333;
                width: 100%;
            }
              // this places the radio and also everything at the bottom (bare in mind, changing this will also infect the iframe)
              .radio_placing {
                display: flex;
                position: fixed;
                overflow: hidden;
                width: 100%; 
                height: 100px;
                background-color: #333;
                padding-left: 20px;
            }
            
            // at the bottom for the people who crawled
            .crawl_block {
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              text-align: center;
              color: white;
              font-size: 140%;
              margin-right: 2%;
              margin-left: 41%; 
              padding-top: 2.45%;
              
            }
            // this is used for every person (the text)
            .crawl {
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              display: flex;
              text-align: center;
              color: white;
              font-size: 160%;
              margin-right: 1%;
              margin-left: 1%;
              padding-top: 0.7%;
            // this is for the imagine of persons
            .icon_image {
              object-fit: cover;
              border-radius: 50%;
              width: 60px;
              height: 60px;
              background-position: 40% 40%;
              background-size: cover;
              background-image: linear-gradient(135deg,#e42e12,#132bda);
              margin-right: 15%;
                }
                .crawl_num {
                  padding-top: 20%
                }
            }
          }
        
          