<section>
    <!-- bottom of the page -->
    <div class="crawl_height">
        <div class="crawl_top"></div>
        <!-- radioparadise on left bottom -->
        <div class="radio_placing">
            <!-- shows info about crawling -->
            <div class="crawl_block ">
                <h2>times crawled:</h2>
            </div>
            <div *ngFor="let per of crawl.slice(0,4)" class="crawl">
                <img class="icon_image" [src]="'../../assets/person/' + per[0] + '.jpg'">
                <p class="crawl_num">{{ per[1] }}</p>
            </div>
        </div>
    </div>
</section>