<!-- this is for the quote at the end of the slider -->
<div class="quote" [ngClass]="{'quote--smallwidth': screenquote === true}">
    <div *ngFor="let quote of quoteotd.slice(0,1)">
        <h2 class="quote_size_between">
            <span class="quote_top">{{ quote[0] }} </span>
        </h2>
        <h2>
            <span class="quote_bottom"> {{ quote[1] }} </span>
        </h2>
    </div>
</div>