  // this is for the quote at the last slide
  .quote {
    margin-top: auto;
    padding-left: 0.6%;
    padding-right: 0.2%;
    padding-bottom: 0.3%;
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
    // used when it goes into the screen component
    &--smallwidth {
      width: 15.9%;
    }
     .quote_size_between {
       padding-bottom: 2%;
    // this is for the top of the quote
      .quote_top {
       font-weight: bold;
       font-size: 150px;
       line-height: 120px;
       letter-spacing: -3px;
       text-transform: uppercase;
       white-space: normal;
       text-align: left;
       color: white;
       }
     }
   //  this is for the bottom of the quote
    .quote_bottom {
      padding-top: 2%;
      font-weight: bold;
      font-size: 150px;
      line-height: 120px;
      letter-spacing: -3px;
      text-transform: uppercase;
      white-space: normal;
      text-align: left;
      color: rgba(255, 255, 255, 0.685);
     }
   }  
